<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Shoe</title>

    <style>

        body{
            background-image: url(flame1.jpg);
        }
        h1{
            color: white;
        }
    </style>
</head>

<body>
	<h1>You added the <%- name %></h1>
    <div id="display">
        <%- shoeToDisplay %>
    </div><br><br>

    
    <a href="/">HOME</a>
</body>

</html>